<div class="connection-status container" data-ng-controller="ConnectionController">

  <div class="alert alert-danger" 
    data-ng-show="!serverOnline || !clienteOnline || !apiOnline"
    data-ng-init="getConnStatus()">

    <strong>Error!</strong>

    <p data-ng-show="!apiOnline">
      Can't connect to metrocoind to get live updates from the p2p network.
      (Tried connecting to metrocoind at {{host}}:{{port}} and failed.)
    </p>

    <p data-ng-show="!serverOnline">
      Can't connect to metrosight server. Attempting to reconnect... 
    </p>

    <p data-ng-show="!clienteOnline">
      Can't connect to internet. Please, check your connection.
    </p>

  </div>
</div>
