<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('MTC')" data-ng-class="{active: currency.symbol == 'MTC'}">MTC</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mMTC')" data-ng-class="{active: currency.symbol == 'mMTC'}">mMTC</a>
  </li> 
</ul>

