<div class="container">
  <div data-ng-controller="HeaderController">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="metrosight navbar-brand" href="/">metrosight</a>
    </div>
    <div class="navbar-collapse collapse" collapse="$root.isCollapsed">
      <ul class="nav navbar-nav">
        <li data-ng-repeat="item in menu" ui-route="/{{item.link}}" data-ng-class="{active: $uiRoute}">
          <a href="/{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
      <form id="search-form" data-ng-controller="SearchController" class="navbar-form navbar-left hidden-xs" role="search" data-ng-submit="search()">
        <div class="form-group" data-ng-class="{'has-error': badQuery}">
          <input id="search" type="text" class="form-control" data-ng-model="q" data-ng-class="{'loading': loading}"  placeholder="Search for block, transaction or address" data-ng-submit="search()">
        </div>
        <div class="no_matching text-danger" data-ng-show="badQuery">No matching records found!</div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
      <div class="status" data-ng-controller="StatusController">
        <div data-ng-init="getSync()" class="pull-left">
          <span class="t text-danger"  data-ng-show="sync.error" tooltip="{{sync.error}}" tooltip-placement="bottom"> 
              <span  class="glyphicon glyphicon-warning-sign"></span>
              ERROR 
          </span>
          <span class="t" tooltip="{{sync.syncedBlocks}} / {{sync.blockChainHeight}} synced. {{sync.skippedBlocks || 0}} skipped" tooltip-placement="bottom" data-ng-show="sync.status==='syncing'"> 
            <span  class="glyphicon glyphicon-refresh icon-rotate"></span>
            {{sync.syncPercentage}}%
          </span>
          <span class="glyphicon glyphicon-ok" tooltip="Historic sync finished" tooltip-placement="bottom" data-ng-show="sync.status==='finished'"> </span>
        </div>
        &nbsp; &middot;
        <span data-ng-init="getStatus('Info')">
          <strong>Conn</strong> {{info.connections}}
        </span> &middot;
        <strong>Height</strong> {{totalBlocks || info.blocks}}
      </div>
      </li>
      <li>
        <a href="#" data-ng-click="openScannerModal()"><span class="glyphicon glyphicon-qrcode"></span> Scan</a>
      </li>
      <li class="dropdown" data-ng-controller="CurrencyController" data-ng-include="'/views/includes/currency.html'"></li>
      </ul>
    </div>
  </div>
</div>
